
<h2>Proyectos</h2>  
<div>
    <article (click)="openDialog()">
        <h3>Lorem ipsum dolor sit</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloribus cumque illum at modi consectetur fugit reprehenderit. Culpa, facere? Suscipit, eius. Ex hic suscipit ab inventore earum quam pariatur sapiente?</p>
        <div>
          <img src="https://img.icons8.com/?size=100&id=YX03OUiHE3rz&format=png&color=000000" alt="">
        </div>
      </article>
    <article (click)="openDialog()">
      <app-rimword>
      </app-rimword>
      

    </article>

  <article (click)="openDialog()">
      <app-gestion>

      </app-gestion>
   
  </article>
</div>