
<div id="Principal">

    <h1 class="titulo"> Hola bienvenid&#64; a mi portafolio soy Samuel Arango </h1>
  
  <h3>Estudiante de Tecnología en Diseño y Programación de Soluciones de Software como Servicio – SaaS. </h3>

</div>

<div>
  
<div id="Proyectos"> 
<app-proyectos>
  <app-rimword></app-rimword>
</app-proyectos>
 
</div>

<div id="Informacion"> 
  <div>
    <h2>Acerca de mí</h2>
    <p>Soy una persona proactiva, organizada y responsable, con buenas relaciones interpersonales, tengo la mejor disposición para la realización de mis labores. Busco un puesto de trabajo desafiante que me permita empezar a adquirir experiencia en mi campo desde ahora como estudiante. Uno de mis grandes intereses hasta ahora es la seguridad informática, me gustaría tener la oportunidad de mejorar los sistemas que utilizan día a día para realizar sus procesos, descubriendo, informando y solucionando posibles fallos existentes.</p>
  </div>

  <div id="Estudios">
    <h3>Estudios</h3>
    <section>
      <h4>Universidad ITM</h4>
      <p>Tecnología en diseño y solución de software 
        <li>2021 - Actualmente cursando semestre</li> </p>
    </section>
  </div>
</div>

<div id="Habilidades">
  <div>
    <h2>Habilidades</h2>  
    <p>Manejo intermedio de diferentes software, lenguajes de programación y conocimiento de seguridad informatica o Hackin etico</p>
  </div>
  <div id="BodyIcons">
    <div id="Iconos" *ngFor ="let icon of icons">
      <a [href]="icon.href"><img [src]="icon.src" [alt]="icon.alt" [title]="icon.title"> </a>
    </div>
  </div>
</div>

</div>
<div id="Contacto">
  <section>
    <h3>Informacion de contacto</h3>
  </section>

  <div>
    <img src="https://img.icons8.com/?size=100&id=aZirgpcZkzvm&format=png&color=000000" alt="" >
    <p>Correo: samuelarangotb&#64;gmail.com</p>
  </div>
</div>