#titles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h2{
    font-family:'Jersey10';
}
h2:hover{
    color:chartreuse;
}

article{
    --electric-violet: oklch(53.18% 0.28 296.97);
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
    background-color:var(--gray-900);
    border: 2% solid var(--gray-700);
    border-radius: 1em;
    box-shadow: 1px 1px 10px var(--gray-700);
    width: 25em;
    padding: 1%;
    box-sizing: border-box;
    
}


article:hover{   
    animation: iconsMov 3s ease-in-out infinite;
}

@keyframes iconsMov {
    0% {
        transform: translateY(-5px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(-5px);
      }
  }